.content__post-card {
  background-color: #fff;
  width: 730px;
  padding: 30px 86px 30px 30px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: -120px;
}